body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: 'Bowlby One SC', cursive;
}

li {
	list-style: none;
	display: inline;
}

img {
	height: 300px;
}

a {
	background-color: red;
	color: white;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
  }
  
  a:hover {
	background-color: #555;
  }
  
  a:active {
	background-color: black;
  }
  
  a:visited {
	background-color: #ccc;
  }


